@import "./../../styles/variables.scss";
.body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: flex-start;
  padding: 30px 0;
  gap: 1rem;
  &_img {
    position: relative;
    width: 100%;
    aspect-ratio: 2;
  }
  p {
    color: rgb(50, 49, 49);
    font-weight: 500;
    line-height: 30px;
    font-size: 20px;
    padding: 8px 0;
  }
}
