@import "./../../../styles/variables.scss";
.body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 40px 0;
  &_info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &_why {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}
@media (max-width: 1000px) {
  .body {
    &_info {
      grid-template-columns: repeat(2, 1fr);
    }
    &_why {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width: 570px) {
  .body {
    &_info {
      grid-template-columns: 1fr;
    }
    &_why {
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
    }
  }
}
