@import "./../../styles/variables.scss";
.body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: flex-start;
  padding: 30px 0;
  gap: 1rem;
  &_card {
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      color: rgb(50, 49, 49);
      font-weight: 500;
      line-height: 30px;
      font-size: 20px;
      padding: 8px 0;

      li {
        list-style: disc inside;
      }
    }
    a {
      color: rgb(0, 195, 255);
    }
  }
  p {
    color: rgb(50, 49, 49);
    font-weight: 500;
    line-height: 30px;
    font-size: 20px;
    padding: 8px 0;
  }

  h1 {
    margin: 20px 0 10px;
    font-weight: 500;
  }
  h6 {
    margin: 10px 0;
    color: rgb(50, 49, 49);
    font-weight: 700;
    line-height: 30px;
    font-size: 20px;
    padding: 8px 0;
  }
  &__italic {
    font-style: italic;
  }
}
