@import "./variables.scss";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Cormorant", serif;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 1280px;
  width: 86%;
  margin: 0 auto;
}
