@import "./../../../styles/variables.scss";
.card {
  display: grid;
  grid-template-columns: 70px 1fr;
  padding: 20px 10px;
  border-radius: 30px;
  background: #fefefe;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);
  &__icon {
    position: relative;
  }
  &__text {
    h2 {
      color: $mainColor;
      font-family: sans-serif;
      font-size: 24px;
    }
    a {
      font-family: sans-serif;
      //   font-size: 18px;
      font-weight: 400;
    }
  }
}
